.subject {
  display: flex;
  flex-direction: column;
  background-color: #bdbdbd;
  width: 100%;
  height: 60px;
}

.viewComment {
  width: 200px;
  height: 30px;
  display: flex;
  padding-left: 900px;
  margin-top: -50px;
}

.articleInfo {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: right;
}

.articleChart {
  background-color: thistle;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.articleRatio {
  display: inline-block;
  width: 590px;
  height: 20px;
  background-color: #eaeaea;
  /*position: relative;*/
  border-radius: 10px;
  vertical-align: middle;
  margin-left: 250px;
  margin-top: 20px;
}
.articleRatio_fill {
  height: 100%;
  background-color: #66c87b;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 10px;
  float: left;
}

.articleBuy {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.articleComment {
  background-color: wheat;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.articleTitle {
  width: 200px;
  height: 20px;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.commentWrite {
  width: 800px;
  height: 70px;
  display: block;
  margin-top: 20px;
  padding-left: 10px;
  margin-left: 100px;
  border-radius: 20px;
  border-style: none;
}

.commentEnter {
  width: 80px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  margin-left: 940px;
  display: inline-block;
  margin-top: -65px;
  border-style: none;
}

.articleHeader {
  width: 120px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.articleDate {
  width: 150px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-size: 12px;
}

.articleCommentListYes {
  background-color: lightblue;
  width: 100%;
  height: 160px;
  margin-top: 5px;
  margin-right: 5px;
}

.articleCommentListNO {
  background-color: lightsalmon;
  width: 100%;
  height: 160px;
  margin-top: 5px;
  margin-right: 5px;
}

.commentBox {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
}

.commentWriter {
  width: 300px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}

.commentDate {
  width: 100px;
  height: 20px;
  font-size: 12px;
}

.commentContents {
  margin-top: 3px;
  margin-bottom: 10px;
}

.articleLikes {
  width: 120px;
  height: 30px;
  font-size: 12px;
  display: flex;
  margin-left: 190px;
  margin-top: -17px;
}

.articleFullbuy {
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  display: flex;
  margin-top: -50px;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.articleFullsell {
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  display: flex;
  margin-top: -75px;
  margin-left: 950px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
