@charset "EUC-KR";
		
		#content{
			padding: 20px 0 50px 0;
		}
		#content .aux{
			background-color: #EEEEEE;
			color: #FFE0B2;
		}
		#upperContent{
			background-color: yellowgreen;
		}
		#lowerContent{
			background-color: #6200EE;
		}
		#summaryBox{
			display: flex;
			background-color: yellow;
			margin: 10px 10px;
			height: 300px;
		}
		#supportingBox{
			display: flex;
			background-color: indianred;
			margin: 10px 10px;
			height: 300px;
		}
		#descBox{
			height: inherit;
			width: 540px;
			background-color: black;
		}
		#upperDescBox{
			display: flex;

		}
		#lowerDescBox{
			display: flex;
	
		}
		#companyName{
			font-size: 40px;
			padding: 10px;
		}
		#companyCode {
			font-size: 18px;
			padding-top: 37px;
		}
		#chartBox {
			width: 50%;
			height: inherit;
		}
		#industyBox{
			padding-left: 10px;
			padding-top: 5px;
			width: 33%;
			height: 74px;
		}
		#industyBox img{
			width: 100%;
			height: 50px;
		}
		#industyName{
			text-align: center;
		}
		#deviBox{
			padding-left: 10px;
			padding-top: 5px;
			width: 33%;
			height: 74px;
		}
		#presentPriceBox{
			padding-left: 10px;
			padding-top: 5px;
			width: 33%;
			height: 74px;
		}
		
		#sameIndustryBox{
			width: 33.3%;
			background-color: #7986cb;
		}
		#financeInfoBox{
			width: 33.3%;
			background-color: #FF80AB;
		}
		#articleBox{
			width: 33.3%;
			background-color: springgreen;
		}
		.upperTitle{
			height: 14%;
			padding: 5px 5px 0 5px;
			background-color: #2D230D;
		}
		.upperTitle .title{
			padding: 6px;
			font-size: 21px;
			width: 35%;
		}
		.highcharts-figure, .highcharts-data-table table {
			min-width: 320px;
			max-width: 800px;
			margin: 1em auto;
		}

		#container {
			height: inherit;
		}
		.highcharts-figure{
			min-width: 280px;
			max-width: 800px;
			margin: 1em auto;
			height: 94%;
		}

		.highcharts-data-table table {
			font-family: Verdana, sans-serif;
			border-collapse: collapse;
			border: 1px solid #EBEBEB;
			margin: 10px auto;
			text-align: center;
			width: 100%;
			max-width: 500px;
		}
		.highcharts-data-table caption {
			padding: 1em 0;
			font-size: 1.2em;
			color: #555;
		}
		.highcharts-data-table th {
			font-weight: 600;
			padding: 0.5em;
		}
		.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
			padding: 0.5em;
		}
		.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
			background: #f8f8f8;
		}
		.highcharts-data-table tr:hover {
			background: #f1f7ff;
		}